<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" href="../../resource/layui/css/layui.css">

    <style>
        form{width:380px;height:160px;margin: auto;}
    </style>
</head>
<body class="layui-layout-body" background="../../resource/image/cool_background_login.png">
    <form class="layui-form layui-bg-gray" action="/register.form">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="userName" required>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" required>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">登陆</button>
            </div>
        </div>
    </form>

    <script src="../../resource/layui/layui.js"></script>
    <script>
        layui.use(['element','form','jquery'],function () {
            var element = layui.element;
            var form = layui.form;
            var $ = layui.jquery;
        })
    </script>
</body>
</html>